# deps
/node_modules

# Next.js
/.next/
/out/

# build
/build

# misc
.audit/
.DS_Store
*.pem
.env*.local
npm-debug.log*
pnpm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts

# Brainstorming visual companion
.superpowers/
.playwright-mcp/
